.menu {
    background-color: #ddd;
    padding:15px 10px;
}

.menu a {
    /*text-decoration: none;*/
    /*color:black;*/
    font-size:1.4em;
}

.entry > div {
    border-bottom: 2px solid #ddd;
    padding:25px 0px;
}

.entry > div:last-child {
    border-bottom: 0px solid #ddd;
}


.inline-b {
    display: inline-block;
}

#view-container {
    margin-bottom: 25px;
}

 #entry3 dt {
    float: left;
    padding-right:5px;
}

#entry3 div {
    width:100%;
}

#entry5 .storyframe {
    height:300px;
}

#entry5 > div {
    padding:50px 0px;
}

#entry5 > div > div{
    overflow:hidden;
}


.header {
    position: relative;
    background-color: #ddd;
    padding:5px 15px;
}

.header h1 {
    margin:5px 0px;
    font-size: 3em
}

.header h3 {
margin:5px 0px;
    position:relative;
    top:8px;
}

nav {
    position: absolute;
    bottom:0px;
    left:325px;
    padding:0px 0px;
}

nav > ul {
    margin:0px;
}

nav > ul > li {
    float:left;
    margin:0px 5px;
}

.btn {
    border-radius: 1px;
}

.step .content {
    padding:25px;
}

.step p {
    font-size: 1.1em;
}

.step > .content > div {
    padding:25px;
    border-bottom: 1px solid #ddd;
}

.step > .content > div:last-child {
    border-bottom: 0px solid #ddd;
}