<div id="entry1" class="entry">
    <h2>Entry 1</h2>
    <div class="clearfix">
        <img src="img/ocean.jpg" alt="Ocean" class="col-xs-6">
        <h3><i>Serenity</i></h3>
    </div>
    <div class="clearfix">
        <img src="img/cathedral.jpg" alt="Cathedral" class="col-xs-6 pull-right">
        <h3 class="text-right"><i>Order</i></h3>
    </div>
    <div class="clearfix">
        <img src="img/wiesen.jpg" alt="Oktoberfest" class="col-xs-6">
        <h3><i>Heritage</i></h3>
    </div>
    <div class="clearfix">
        <img src="img/cat.jpg" alt="Kitten" class="col-xs-6 pull-right">
        <h3 class="text-right"><i>Innocence</i></h3>
    </div>
    <div class="clearfix">
        <img src="img/fam.jpg" alt="Family" class="col-xs-6">
        <h3><i>Levity</i></h3>
    </div>
</div>