<div id="entry10" class="entry clearfix">
    <h1>Entry 10 - Next Steps</h1>
    <div class="clearfix">
        <h2>Facebook</h2>
        <img src="img/entry10/facebook.png" alt="" class="col-xs-6 col-sm-5 col-md-4">
        <p>
            Facebook is a clear example of where good design lead to success. I say this because what facebook was initially was not something that was new to consumers. MySpace had already been around for a couple of years. Where Facebook succeeded over MySpace was in it layout and color scheme. These were the two key factors in what made Facebook the success. Its interface was easier to use and more modern and its color scheme was lighter and more welcoming. I wish I had created because I is a huge facet of our internet society.
        </p>
    </div>
    <div class="clearfix">
        <h2>The Macbook</h2>
        <img src="img/entry10/macbook.gif" alt="" class="col-xs-6 col-sm-5 col-md-4">
        <p>
            While I do not own a macbook I still appreciate what they represent for laptop design. Before they came out Apple and its contemporaries were constantly trying to add more to a laptop, more ports, more add-on peripherals, more unnecessary features. The macbook brought about a paradigm shift in laptop design where designers started to take things out. Apple started, and has continued, to give us laptops with progressively fewer ports and peripherals culminating with a laptop with only two ports. I wish I had created the macbook because it has defined the marketspace of laptops as more devices are introduced into our society.
        </p>
    </div>
    <div class="clearfix">
        <h2>Parabolic Skies</h2>
        <img src="img/entry10/ski.jpg" alt="" class="col-xs-6 col-sm-5 col-md-4">
        <p>
            Parabolic or Shaped Skis are skis which curve inward from tips to center. This is contrasted to Straight Skis which are straight all along their edge. Parabolic Skis revolutionized skiing and made it dramatically easier to learn how to ski, cutting the learning curve by years. This is because Parabolic Skis turn on their own when you go on edge. This decreases their turning radius allowing you to turn faster while using less effort and, as such, keep better control of your speed. I wish I had designed Parabolic Skis because they are a great example of where a simple design change completely altered the landscape of a sport where the design had gone unchallenged for more than 100 years.
        </p>
    </div>
    <div class="clearfix">
        <h2>Peer-to-Peer Networking</h2>
        <img src="img/entry10/p2p.png" alt="" class="col-xs-6 col-sm-5 col-md-4">
        <p>
            Peer-to-Peer Networking, often referred to as P2P is the number one method of free information exchange on the internet. It is valuable in the transfer of information because it crowdsources resources (upload bandwidth) in direct correlation with demand because the more popular or prolific a piece of information, the more uploaders are available to proliferate it. This is something that commercial server networking has just recently been able to accomplish with the advent of cloud computing, where resources can be increased on-the-fly and automatically, in as little as ten minutes. I wish I had designed P2P Networking because it is a shining example of the intended synergy between the internet and society.
        </p>
    </div>
    <div class="clearfix">
        <h2>How to Design Like Visionaries</h2>
        <ol>
            <li>
                Think about the problem, not the solution.
            </li>
            <li>
                If at first you dont succeed, try try again.
            </li>
            <li>
                Design in the wild.
            </li>
            <li>
                Break the trend.
            </li>
            <li>
                Every failure is a successful aquisition of data.
            </li>
        </ol>
    </div>
</div>