<div id="entry2" class="entry">
    <h2>Entry 2</h2>
    <div>
        <h3>Coping With Blindness</h3>
        <p>
            This video is about a girl talking about her transition into blindness and all the dificulties that come with it.</p>
        <p>
            The transistion being described in this video is becoming blind.
        </p>
        <p>
            The physical challenge she faced during this transition was losing a sense, her vision. This brought along with it many emotional challenges, dealing with depression due to loss of ability and overcoming her loss of control.  due to the fact that it occured durring school, she had to overcome the social challenge of losing her freinds as the go away to college while she has to repeat senior year. Furthermore, without her sight one of the many pleasures of the internet - facebook - is no longer available to her and she must now find new ways to connect with people.
        </p>
    </div>
    <div>
        <h3>Architecture For Death and Dying</h3>
        <p>
            This TED talk is about improving the places where we die and store our dead.
        </p>
        <p>
            The transition discussed in this video is dying.
        </p>
        <p>
            This transition is rife with emotional challenges. Not only for the one who is dying, but also for those who depend on them, friends, family, community. All involved must overcome the grief in losing somone important. For the person who is dying, They must overcome their own fear of death. They must find acceptance and peace in their final months/days/hours.
        </p>
    </div>
</div>