<div id="entry3" class="entry">
    <h2>Entry 3 - Transitions</h2>
    <div class="clearfix">
        <h3>Going To College</h3>
        <img src="img/quad.jpg" alt="Students on the quad" class="col-xs-5 pull-right">
        <dl>
            <dt>Beginning State: </dt><dd>Just graudated highschool</dd>
            <dt>End State: </dt><dd>Freshmen acclimated to college</dd>
            <dt>Benefits: </dt><dd>The benefits of going to college are that you can continue your education. You also get greater independence and learn to be self sufficient.</dd>
            <dt>Challenges: </dt><dd>There are numerous challenges that are part of this experience. There is the physical, getting to college, which for me was all the way accross the world. The emotional, becoming independent and leaving behind what is comfortable. And finaly, the social, making new friends. By far, the hardest part was expanding my comfort zone.</dd>
            <dt>Improvement: </dt><dd>This transition could have been made easier with more ubiquitous information on events and ways to connect with other likeminded students.</dd>
        </dl>


    </div>
    <div class="clearfix">
        <h3>Moving To Germany</h3>
        <img src="img/luggage.jpg" alt="Lots of luggage" class="col-xs-5 pull-right">
        <dl>
            <dt>Beginning State:</dt><dd>Living in the United States</dd>
            <dt>End State:</dt><dd>Living abroad in Germany</dd>
            <dt>Benefits:</dt><dd>Moving abroad gave me new perspectives on many facets of life. I gained cofidence and connected with my german heritage.</dd>
            <dt>Challenges:</dt><dd> Some of the challenges associated with moving to Germany were overcoming the language barrier, making new friends and adjusting to their style of schooling</dd>
            <dt>Improvement:</dt><dd>Moving abroad could be made more enjoyable if there were more centralized sources of information on things to do for those who are new to a country or city and not just tourists.</dd>

        </dl>
    </div>
    <div class="clearfix">
        <h3>Getting A Smartphone</h3>
        <img src="img/avi.jpg" alt="Android vs iPhone" class="col-xs-5 pull-right">
        <dl>
            <dt>Beginning State:</dt><dd>Having a flip phone</dd>
            <dt>End State:</dt><dd>Having a smartphone</dd>
            <dt>Benefits:</dt><dd>Having a smartphone leads to greater access to information and entertainment. Furthermore, it allows us to stay connects in more ways across even greater distances, like countries, where texting and phone calls are not an option. </dd>
            <dt>Challenges:</dt><dd>Some of the challenges that come with switching to a smartphone include learning the interface, as all smartphones are inherently different from regular phones. Also, it is difficult to figure out which brand of phone is right for you.</dd>
            <dt>Improvement:</dt><dd>Getting a smartphone could be made easier with the addition of more tools to compare the differences between brands.</dd>

        </dl>
    </div>
    <div class="clearfix">
        <h3>Learning How To White-Water Kayak</h3>
        <img src="img/waterfall.jpg" alt="Kayaker going of a waterfall" class="col-xs-5 pull-right">
        <dl>
            <dt>Beginning State:</dt><dd>No experience Kayaking</dd>
            <dt>End State:</dt><dd>Able to Kayak rapids </dd>
            <dt>Benefits:</dt><dd>Learning how to kayak helped me bond with my dad and leading to increased happiness from acomplishments.</dd>
            <dt>Challenges:</dt><dd>The biggest challenge with learning how to kayak was overcoming the fear of injury. The second biggest challenge was gaining the physical strength necessary for more difficult routes.</dd>
            <dt>Improvement:</dt><dd>Learning kayaking could be improved with access to more instructional information and more detailed guide books on rivers.</dd>
        </dl>

    </div>
    <div class="clearfix">
        <h3>Coping with the death of my Grandfather</h3>
        <img src="img/goodbye.jpg" alt="Saying goodbye" class="col-xs-45 pull-right">
        <dl>
            <dt>Beginning State:</dt><dd>Unwillingness to accept that he was gone</dd>
            <dt>End State:</dt><dd>Acceptance of his death</dd>
            <dt>Benefits:</dt><dd>Help me to cherish the memories I had with him.</dd>
            <dt>Challenges:</dt><dd>This biggest challenge I faced in coping with my grandfathers death was the emotional strain of not having been able to say goodbye.</dd>
            <dt>Improvement:</dt><dd>This could have been made easier if there had been more people to talk to, as I wasnt home at the time of his passing.</dd>
        </dl>
    </div>
</div>