<div id="entry4" class="entry">
    <h2>Entry 4 - Digital & Physical Contraints</h2>
    <div class="clearfix">
        <img src="img/smartphones.jpg" alt="Smartphones" class="col-xs-5">
        <h3>The Smartphone</h3>
        <p>A smartphone allows users to bring the power of a computer anywhere. They can access the internet, use applications and contact people in a number of ways. All smartphones currently are operated via a touch screen interface and are used by anyone ranging from kids to the elderly.</p>
        <p>The digital component of a smartphone is its operating system which allows people to naviagate the small computer with their fingers</p>
        <p>The physical component of a smartphone is the computer hardware and touch screen. these allow users to run powerful apps and games</p>
    </div>
    <div class="clearfix">
        <img src="img/jawbone.jpg" alt="Jawbone Bluetooth Speaker" class="col-xs-6 pull-right">
        <h3>Bluetooth Speakers</h3>
        <p>Bluetooth speakers are self-powered portable devices which allow users to connect their phones to them and play music and movies, some can even hold conference calls. They are used by anyone who likes to bring their music on the go, usually out with freinds. As such the majority of users are in the range of 16-28</p>
        <p>The digital component of this technology is the content which is being streamed to the device</p>
        <p>The physical component of this technology is the speaker which plays the music.</p>
    </div>
    <div class="clearfix">
        <img src="img/sonder.gif" alt="Sonder Keyboard" class="col-xs-5">
        <h3>LCD Keyboards</h3>
        <p>These specialized keyboards have LCDs in each key. This allows them to display their current function depending on what you are doing. typing to you chinese penpal, it shows the chinese keyboard, working in photoshop, it shows all the photoshop shortcuts. Because these devices are still in their infancy most of their users are gamers or early adopters who by them for their novelty. The version displayed her is being produced by Sonder with an expected release date in Q2 of next year.</p>
        <p>The digital component of this technology is the software which decides what to render on the keys.</p>
        <p>The physical component of this technology is the keyboard and the LCD screens implanted in it.</p>
    </div>
    <div class="clearfix">
        <img src="img/nest.jpg" alt="Nest Thermostat" class="col-xs-6 pull-right">
        <h3>Nest Thermostat</h3>
        <p>The Nest was one of the first implementations of 'the internet of things'. Its purpose is to connect you home to the internet so that you can save money on your heating bill. It can be used like a normal thermostat or you can control it remotely. Its users are mostly early adopters and environmentally concious people.</p>
        <p>The digital component of this technology is the app which allows you to monitor and adjust it remotely. This might also be what helps it figure out if you not there so it can turn down the heat.</p>
        <p>The physical component of this technology is the thermostat which connects to the internet and your homes heating system.</p>
    </div>
    <div>
        <img src="img/xbox.png" alt="Xbox One" class="col-xs-5">
        <h3>Game Consoles</h3>
        <p>Gaming Console like the Xbox One are specialized computers designed for use as entertainment and gaming systems. Newer ones host suites of apps for doing things like watching movies or listening to music. Users interact with these consoles via a controller. Since gaming has become quite pervasive in our culture the audicence for game consoles has expanded to cover anyone from 12 - 60 years of age.</p>
        <p>The digital component of this technology is its hardware. This includes the console and the controllers.</p>
        <p>The physical component of this technology is the operating system and the content - games, movies or music.</p>
    </div>
</div>