<div id="entry5" class="clearfix">
    <h2>Entry 5 - Documenting A Process</h2>
    <div class="clearfix">
        <h4>Part 1 -Sketched Storyboard</h4>
        <img src="img/sketch1.jpg" alt="Sketch Page 1" class="col-xs-12 col-sm-6">
        <img src="img/sketch2.jpg" alt="Sketch Page 2" class="col-xs-12 col-sm-6">
    </div>
    <div class="clearfix">
        <h4>Part 2 - Image Storyboard</h4>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 1 - Pick a Recipe</h5>
            <img src="img/entry5/recipe.png" alt="Recipe" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 2 - Collect Ingredients</h5>
            <img src="img/entry5/ingredients.jpg" alt="" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 3 - Pre-heat Grill</h5>
            <img src="img/entry5/grill.jpg" alt="" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 4 - Season Chicken</h5>
            <img src="img/entry5/season.jpg" alt="" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 5 - Place Chicken</h5>
            <img src="img/entry5/chickenGrill.jpg" alt="" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 6 - Wait 30 Minutes</h5>
            <img src="img/entry5/chickenOnFire.jpg" alt="" class="col-xs-6">
            <img src="img/entry5/chickenGood.jpg" alt="" class="col-xs-6">
            <p class="col-xs-6">Go 7a</p>
            <p class="col-xs-6">Go 7b</p>
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 7a - Turn Down Heat</h5>
            <img src="img/entry5/turnDown.jpg" alt="" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 7b - Wait One Hour</h5>
            <img src="img/entry5/oneHour.png" alt="" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 8 - Remove Chicken</h5>
            <img src="img/entry5/chickenDone.jpg" alt="" class="col-xs-12">
        </div>
        <div class="storyframe col-xs-6 col-sm-4 col-md-3">
            <h5>Step 9 - Serve</h5>
            <img src="img/entry5/ChickenDinnerPlate.jpg" alt="" class="col-xs-12">
        </div>
    </div>
    <br>
    <br>
    <div class="clearfix">
        <h4>Part 3 - Flow Chart</h4>
        <img src="img/entry5/ChickenFlowChart.png" alt="" class="col-xs-12">
    </div>
</div>