<div id="entry6" class="entry clearfix">
    <h2>Entry 6 - Language App, n + 1</h2>
    <p>My n+1 design aims to add an AI to our language app. This AI would be able to translate speech and text. Furthermore, it would also be able to proof-read text and give you feedback on your spelling, pronuciation and grammar.</p>
    <div class="clearfix">
        <img class="clearfix col-xs-6 col-sm-5 col-md-4 col-lg-3" src="img/entry6/1.jpg" alt="Main new feature screen">
        <p>
            In the main screen of the new feature users would be able to select the voice options for proofing or translating or fill out a text-box and select whether they want to proofed or translated.
        </p>
    </div>
    <div class="clearfix">
        <img class="clearfix col-xs-6 col-sm-5 col-md-4 col-lg-3 pull-right" src="img/entry6/2.jpg" alt="Second new feature screen">
        <p style="text-align:right">This second screen shows the feedback the AI would give for a proof-read.</p>
    </div>
    <div class="clearfix">
        <img class="clearfix col-xs-6 col-sm-5 col-md-4 col-lg-3" src="img/entry6/3.jpg" alt="Third new feature screen">
        <p>This third screen shows the feedback the AI would give for a translation.</p>
    </div>
</div>