<div id="entry7" class="entry clearfix">
    <h2>Entry 7 - Participatory Design Experience</h2>
    <p>For my participatory design experience I would run a brainstorming session like a hackathon to promote better ways of teach langauages.</p>
    <div class="clearfix">
        <img class="col-xs-5 col-md-4" src="img/entry7/hackathon.jpg" alt="Hackathon">
        <p>Prompt: With your team you will have one hour to design 4 lesson plans, on subjects of your choosing, comprised of mulitple activites, which could each be completed in roughly five to ten minutes.</p>
        <p>The goal of this prompt would be to uncover new or less thought of ways of learning and beable to introduce unique and unconventional activities into our application.</p>
    </div>
</div>