<div id="entry8" class="entry clearfix">
    <h2>Entry 8 - Visual Techniques</h2>
    <div class="clearfix">
        <h4>Composite Sketch</h4>
        <img class="col-xs-5" src="img/entry8/compositeSketch.png" alt="Composite Sketch">
    </div>
    <div class="clearfix">
        <h4>Storyboard</h4>
        <img class="col-xs-3" src="img/entry8/story1.jpg" alt="Story Board Frame One">
        <img class="col-xs-3" src="img/entry8/story2.jpg" alt="Story Board Frame Two">
        <img class="col-xs-3" src="img/entry8/story3.jpg" alt="Story Board Frame Three">
    </div>
    <div class="clearfix stateTrans">
        <h4>State Transition Diagram</h4>
        <div class="clearfix">
            <img class="col-xs-3" src="img/entry8/1a.jpg" alt="">
            <img class="col-xs-3" src="img/entry8/2a.jpg" alt="">
            <img class="col-xs-3" src="img/entry8/3a.jpg" alt="">
            <img class="col-xs-3" src="img/entry8/4a.jpg" alt="">

        </div>
        <div class="clearfix">
            <img class="col-xs-3" src="img/entry8/1b.jpg" alt="">
            <img class="col-xs-3" src="img/entry8/2b.jpg" alt="">
            <img class="col-xs-3" src="img/entry8/3b.jpg" alt="">

        </div>
        <div class="clearfix">
            <div class="col-xs-3"></div>
            <img class="col-xs-3" src="img/entry8/2c.jpg" alt="">
        </div>
    </div>
</div>