<div class="step clearfix">
    <h3>Step 1 - Attaching the Rudder and Tiller</h3>
    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Narrative">Back</button><button class="btn btn-primary pull-right" ui-sref="Step({step : 2 })">Next</button></div>

    <div class="content col-xs-12">
        <div class="clearfix">
            <img src="img/narrative/rudder.jpg" class="col-xs-4 pull-right" alt="Rudder">
            <p>
                While it is not paramount that this step comes first, it is generally best practice to install the rudder first so that if any circumstance occurs while rigging, and the boat becomes free from its mooring, you will have the most control possible.
            </p>
            <br>
            <br>
            <img src="img/narrative/gudgeon.png" class="col-xs-4 pull-left" alt="Gudgeon">
            <p>
                On most all small boats the rudder is attached via down facing pins (pintiles) which are inserted into holes (gudgeons) on the back of the boat.
            </p>
        </div>
        <div class="clearfix">
            <img src="img/narrative/tiller.jpg" class="col-xs-4 pull-right" alt="Tiller">
            <p>
                After you have installed and secured the rudder, ususally with a locking pin, you can install the tiller. The tiller is the long shaft with which you turn the rudder. It gets secured by insterting it into a socket on top of the rudder and is held in place with locking pins.
            </p>
        </div>

    </div>

    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Narrative">Back</button><button class="btn btn-primary pull-right" ui-sref="Step({step : 2 })">Next</button></div>
</div>