<div class="step clearfix">
    <h3>Step 2 - Attaching the Jib</h3>
    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Step({step : 1 })">Back</button><button class="btn btn-primary pull-right" ui-sref="Step({step : 3 })">Next</button></div>

    <div class="content col-xs-12">
        <div class="clearfix">
            <p>
                The next part of boat rigging is attaching your jib, the small sail at the front of the boat.
            </p>
            <img src="img/narrative/sailboat_dg.jpg" class="col-xs-4 pull-left" alt="Sailboat Diagram">
            <img src="img/narrative/shackle.jpg" class="col-xs-2 pull-right" alt="Shackle">
            <p>
                The first part of rigging the jib is attaching it to its halyard, the rope that pulls the jib up and keeps it up. It is normally secured to the mast when stored. The halyard has a shackle (right) on one end. This is what gets attached to the ring at the top of the jib.
            </p>
        </div>
        <div class="clearfix">
            <p>After you have attached the jib, grab the other end of the halyard. It is time to clip the jib to the forestay.</p>
            <img src="img/narrative/forestay.jpg" alt="Forestay Clips" class="col-xs-4   pull-right">
            <p>While hold onto the end of the halyard, start at the top of the jib and clip it on to the forestay. Keep pulling the jib up as you go until finished.</p>
        </div>
        <div class="clearfix">
            <img src="img/narrative/cleat_hitch.gif" alt="How to Cleat Hitch" class="col-xs-5 pull-left">
            <img src="img/narrative/cam.jpg" alt="Cam" class="col-xs-3 pull-right">
            <p>
                Once the jib is fully raised, secure the halyard to the front of the mast with a cleat hitch and run the jib sheets (ropes) through their cams (holsters) on the outer front of the cockpit.
            </p>
        </div>
    </div>

    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Step({step : 1 })">Back</button><button class="btn btn-primary pull-right" ui-sref="Step({step : 3 })">Next</button></div>
</div>