<div class="step clearfix">
    <h3>Step 3 - Raising the Main Sail</h3>
    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Step({step : 2 })">Back</button><button class="btn btn-primary pull-right" ui-sref="Step({step : 4 })">Next</button></div>

    <div class="content col-xs-12">
        <div class="clearfix">
            <p>
                Like the jib, the first step is to attach the halyard to the top of the main sail. Most times the halyard is holding the boom up when the sail is not attached. Remove it and let the boom sit in the bottom of the cockpit.
            </p>
            <img src="img/narrative/tack.jpg" class="col-xs-4" alt="Tack">
            <p>
                After the halyard has been attached, we can attach the tack. This is usually done with a locking pin.
            </p>
        </div>
        <div class="clearfix">
            <img src="img/narrative/clew.jpg" class="col-xs-4" alt="Clew">
            <p>
                Now we will attach the other bottom corner, the clew.
            </p>
            <p>
                The sail’s the bottom edge is secured to the boom via a rope sewn into the foot, which slides into a groove in the boom. The clew enters the groove first and is pulled back in the groove until the whole sail’s foot is held to the boom in this groove. Now the clew can be secured to the end, either with a tightening rope or a locking pin like the tack.
            </p>
        </div>
        <div class="clearfix">
            <img src="img/narrative/cleat_hitch.gif" alt="How to Cleat Hitch" class="col-xs-5 pull-right">
            <p>
                After the bottom has been secured, we can raise the mainsail. This is done just like attaching the foot. Grab the top of the main and its halyard. Now insert the top of the sail into the grove in the back of the mast. Raise the main as you feed it into the groove. Once you have reached the top secure the halyard to the mast with a cleat hitch like before.
            </p>
        </div>
    </div>

    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Step({step : 2 })">Back</button><button class="btn btn-primary pull-right" ui-sref="Step({step : 4 })">Next</button></div>
</div>