<div class="step clearfix">
    <h3>Step 4 - Dropping the Centerboard</h3>
    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Step({step : 3 })">Back</button></div>

    <div class="content col-xs-12">
        <div class="clearfix">
            <p>
                Now you almost ready to set sail. If your boat has a retractable centerboard, this is the time to release it. This is done by taking off the bungie cord attached to it in the center of the cockpit.
            </p>
            <img src="img/narrative/sailing.jpg" class="col-xs-5" alt="Sailing">
            <p>
                Finally, you can detach from your mooring and set sail!
            </p>
        </div>
    </div>

    <div class="nav-row col-xs-12"><button class="btn btn-primary pull-left" ui-sref="Step({step : 3 })">Back</button></div>
</div>